.reviews {
  max-width: var(--width-basic);
  margin: var(--margin-basic);
  padding: var(--padding-basic);
  h2 {
    font-size: var(--fs-title-lg);
    font-family: var(--font-poppins);
    padding-bottom: clamp(20px, 5vw, 80px);
    text-align: center;
  }
  //   height: 500px;
}
.reviewsItem {
  user-select: none;
  border-radius: 12px;
  padding: clamp(20px, 2vw, 38px) clamp(20px, 3vw, 43px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  //   align-items: center;
  width: 100%;
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // flex-direction: column;
    // gap: 30px;
  }
  &__userWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__imageWrapper {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__userInfo {
  }
  &__username {
    font-family: var(--font-poppins);

    font-size: var(--fs-xl);
  }
  &__withUs {
    font-family: var(--font-quicksand), sans-serif;

    font-size: var(--fs-md);
  }
  &__quoteWrapper {
  }
  &__content {
    font-family: var(--font-quicksand), sans-serif;

    font-size: var(--fs-lg);
  }
  &__starsWrapper {
    color: var(--color-orange);
  }
}

.slider {
  position: relative;

  &__mySwiper {
    height: 350px;
    margin-bottom: 30px;
  }

  &__mySlide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;

    flex: 0 0 528px;
    @media (max-width: 600px) {
      flex: 0 0 100%;
    }
  }
  &__mySlide.swiper-slide-active {
    transform: scale(1.2);
    z-index: 10;
  }
  &__myPrev,
  &__myNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  &__myPrev {
    left: 0px;
  }

  &__myNext {
    right: 0px;
  }

  &__scrollbar {
    // margin-top: 50px;
    height: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    background: var(--color-violet-three);
    // width: 70%;
    :global(.swiper-scrollbar-drag) {
      background: var(--color-violet);
      border-radius: 10px;
    }
    :global(.swiper-scrollbar-drag:active) {
      background: var(--color-violet-two);
    }
  }
}
