$point: 850px;

.lists {
  //   max-width: calc(1246px + 40px);
  //   margin: 0 auto;
  //   padding: clamp(20px, 8vw, 119px) 20px clamp(20px, 5vw, 85px);
  max-width: var(--width-basic);
  margin: var(--margin-basic);
  padding: var(--padding-basic);

  &__title {
    font-size: var(--fs-title-sm);
    font-family: var(--font-poppins) sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: clamp(20px, 6vw, 85px);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    // gap: clamp(20px, 2vw, 30px);
    gap: 30px;
    // justify-content: center;
    padding-bottom: clamp(20px, 4vw, 65px);
    @media (max-width: $point) {
      flex-wrap: wrap;
    }
  }

  &__buttonWrapper {
    // display: inline-flex;
    // align-items: center;
    max-width: 120px;
    margin-left: auto;
  }
  &__buttonShowAll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--color-grey);
    padding: 10px;
    border-radius: 12px;
    &:hover {
      background: var(--color-violet-three);
      color: var(--color-white);
    }
  }
}
.item {
  border-radius: 20px;
  background: var(--color-white);
  overflow: hidden;
  box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 20%);
  @media (max-width: $point) {
    width: 100%;
  }
  &:hover {
    box-shadow: 0px 20px 5px 0px rgb(0 0 0 / 20%);
  }
  &__content {
    padding: 10px 17px 17px clamp(17px, 2vw, 34px);
    display: flex;
  }
  &__colOne {
    flex: 1 1 auto;
    width: 100%;
  }

  &__imageWrapper {
    img {
      //   width: 100%;
      min-height: 176px;

      //   height: 315px;
      //   height: 100%;
      object-fit: cover;
      @media (max-width: $point) {
        width: 100%;

        max-height: 200px;
      }
    }
  }
  &__hash {
    font-family: var(--font-poppins) sans-serif;

    font-size: var(--fs-sm);
    margin-bottom: 10px;
    padding: 3px 8px;
    border-radius: 5px;
  }
  // &__hashHealthy {
  //   color: #daa31a;
  //   background-color: #f7edd0;
  // }
  // &__hashTrending {
  //   color: #fb471d;
  //   background-color: #f7c5ba;
  // }
  &__title {
    font-size: var(--fs-3xl);
    font-family: var(--font-poppins) sans-serif;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__time {
    color: var(--color-grey-two);
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--color-grey-two);
  }
  &__colTwo {
    flex: 0 0 auto;
    width: 40px;
    align-self: end;
  }
  &__svgWrapper {
    padding: 10px;
    background-color: var(--color-violet-seven);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: var(--color-violet-three);
    }
  }
}

.itemDish {
  border-radius: 20px;
  background: var(--color-white);
  overflow: hidden;
  box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 20%);
  flex: 1 1 auto;
  padding: 30px 20px;
  position: relative;

  &:hover {
    box-shadow: 0px 20px 5px 0px rgb(0 0 0 / 20%);
  }

  &__heart {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &:hover {
      color: var(--color-violet-three);
    }
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    // min-width: 184px;
    // margin: 0 auto;
  }
  &__content {
  }
  &__colOne {
  }
  &__hash {
    font-family: var(--font-poppins) sans-serif;

    font-size: var(--fs-sm);
    margin-bottom: 10px;
    padding: 3px 8px;
    border-radius: 5px;
  }

  &__title {
    font-size: var(--fs-3xl);
    font-family: var(--font-poppins) sans-serif;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__time {
    color: var(--color-grey-two);
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--color-grey-two);
    // padding-bottom: 10px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__priceWrapper {
    display: flex;
    align-items: end;
    span:first-child {
      font-size: var(--fs-3xl);
    }
    span:last-child {
      font-size: var(--fs-lg);
      color: var(--color-grey-two);
    }
  }
  &__buttonAdd {
    // padding: 10px;
    font-size: 25px;
    color: var(--color-white);
    background: #323142;
    border-radius: 9px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.healthy {
  color: #daa31a;
  background-color: #f7edd0;
}
.trending {
  color: #fb471d;
  background-color: #f7c5ba;
}
.supreme {
  color: #309d5b;
  background-color: #33ac6463;
}
