@import "tailwindcss";

:root {
  --background-grey: #f9f9f9;
  --color-violet: #6c5fbc;
  --color-violet-two: #5c4eae;
  --color-violet-three: #a596ff;
  --color-violet-four: #5c4eae;
  --color-violet-five: #1c186c;
  --color-grey: #969696;

  --fs-xs: clamp(0.625rem, 0.55rem + 0.3vw, 0.875rem); /* 10 - 14 */
  --fs-sm: clamp(0.75rem, 0.7rem + 0.35vw, 1rem); /* 12 - 16 */
  --fs-base: clamp(0.875rem, 0.8rem + 0.4vw, 1.125rem); /* 14 - 18 */

  --fs-md: clamp(1rem, 0.9rem + 0.45vw, 1.25rem); /* 16 - 20 */
  --fs-lg: clamp(1.125rem, 1rem + 0.5vw, 1.375rem); /* 18 - 22 */
  --fs-xl: clamp(1.25rem, 1.1rem + 0.6vw, 1.5rem); /* 20 - 24 */
  --fs-2xl: clamp(1.375rem, 1.2rem + 0.7vw, 1.625rem); /* 22 - 26 */
  --fs-3xl: clamp(1.5rem, 1.3rem + 0.8vw, 1.75rem); /* 24 - 28 */

  --fs-title-sm: clamp(2rem, 1.6rem + 1vw, 2.75rem); /* 32 - 44 */
  --fs-title-md: clamp(2.25rem, 1.8rem + 1.2vw, 3.125rem); /* 36 - 50 */
  --fs-title-lg: clamp(3rem, 2.3rem + 1.6vw, 4.375rem); /* 48 - 70 */
  --fs-hero: clamp(3.25rem, 2.5rem + 1.8vw, 4.75rem); /* 52 - 76 */
  /* 10 14  16 18 20 22px 24 26 28  44 50 70 76px   1440px  */
}

.innerAppContainer {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--background-grey);
}
.innerAppContainer__contentPage {
}
