.buttonUi {
  display: inline-flex;
  border-radius: 18px;
  padding: 18px 27px;
  white-space: nowrap;
  font-size: var(--fs-base);

  // width: 100%;
  // height: 100%;
}
.violet {
  background: var(--color-violet);
  color: var(--color-white);
}
.violetTwo {
  border: 1px solid var(--color-violet);
  // background: var(--color-violet);
  color: var(--color-violet);
}
