.header {
  // max-width: calc(1246px + 40px);
  // margin: 0 auto;
  max-width: var(--width-basic);
  margin: var(--margin-basic);
  // padding: var(--padding-basic);

  // max-width: 1248px;
  &__content {
    padding: clamp(20px, 3vw, 48px) 20px clamp(10px, 1vw, 24px);
    display: flex;
    //   width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    flex: 0 0 200px;
    font-family: var(--font-poppins), sans-serif;
    // color: var(--color-violet);
    font-weight: bold;
    font-size: var(--fs-lg);
  }

  &__main {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    // max-width: 500px;
    // width: 100%;
    justify-content: space-between;
    @media (max-width: 700px) {
      display: none;
    }
  }
  &__navbar {
    display: flex;
    flex: 0 1 auto;
    max-width: 374px;
    width: 100%;
    justify-content: space-between;
    font-size: var(--fs-base);
  }
  &__auth {
    display: flex;
    gap: 10px;
  }
  &__separator {
    margin: 0 auto;
    width: calc(100% - 40px);
    color: var(--color-grey-two);
  }
}
