.header {
  display: flex;
  max-width: 1248px;
  //   width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  padding: 48px 0 24px;
  &__main {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  &__navbar {
    display: flex;
    flex: 0 1 auto;
    max-width: 374px;
    width: 100%;
    justify-content: space-between;
  }
  &__auth {
    display: flex;
    gap: 10px;
  }
}
