.enjoy {
  display: flex;
  min-width: 607px;
  max-width: 1246px;
  margin: 0 auto;
  padding: clamp(20px, 8vw, 119px) 0 clamp(20px, 5vw, 85px);
  // padding: clamp(20px, 3vw, 50px) 0 clamp(20px, 5vw, 85px);
  span {
    color: var(--color-violet);
  }
  &__content {
    flex: 1 1 auto;
    max-width: 568px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }
  &__hash {
    color: var(--color-grey-three);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 18px;
    font-weight: bold;
    &::before {
      content: "";

      width: 54px;
      height: 1px;
      background: var(--color-grey-three);
    }
  }
  &__title {
    font-weight: 600;
    line-height: 120%;
    font-size: var(--fs-hero);
    padding-bottom: 16px;

    // span {
    //   color: var(--color-violet);
    // }
  }
  &__text {
    font-size: var(--fs-base);
    color: var(--color-grey-four);
    padding-bottom: 53px;
  }
  &__buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 33px;
  }
  &__rating {
    display: flex;
    align-items: center;

    gap: 20px;
  }
  &__ratingStarGreen {
    color: #005128;
  }
  &__ratingCompany {
    font-weight: bold;
  }
  &__ratingSub {
    color: var(--color-grey-four);
  }
  &__ratingStars {
    display: flex;
    gap: 4px;
    color: #f59e0b;
  }
  &__imageContent {
    flex: 1 1 auto;
    max-width: 680px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__imageOne {
    border-radius: 50%;
    // background: var(--color-violet);
    border: 20px solid var(--color-violet);
    position: relative;
    svg {
      position: absolute;
      top: 61px;
      right: -83px;
    }
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: 100%;
    // height: 100%;
    img {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
    }
  }
  &__imageTwo {
    position: absolute;
    top: -38px;
    right: 54px;
    svg {
      position: absolute;
      top: -22px;
      right: -22px;
    }
  }
  &__imageThree {
    position: absolute;
    bottom: 0;
    left: 81px;
    svg {
      position: absolute;
      bottom: 0;
      left: -20px;
    }
  }
}
